<nav class="navbar navbar-expand-lg navbar-light bg-white d-fix">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="navbar-brand"href="#people-info">CẶP ĐÔI</a>
          <a class="navbar-brand"href="#inviation">SỰ KIỆN</a>
          <a class="navbar-brand"href="#love-story">LOVE STORY</a>
          <a class="navbar-brand"href="#pre-weeding">ALBUM</a>
        </div>
      </div>
    </div>
</nav>
