<section id="love-story" class="section">
    <div class="titile">
        <p class="text-1">Lovestory</p>
        <p class="text-2">CHUYỆN TÌNH NGỌT NGÀO CỦA CHÚNG TA</p>
    </div>
    <div class="row content">
        <div class="col-12 col-xl-4">
            <div class="">
                <img src="../../assets/images/memories_1.jpg" class="d-block w-100" alt="">
            </div>
            <div class="detail">
                <div class="title">
                    <p>Lần đầu gặp nhau</p>
                </div>
                <div class="text">
                    <p>Định mệnh cho chúng tôi gặp nhau vào một ngày đẹp trời trong một cuộc hẹn với bạn bè.Khi được bạn bè đẩy thuyền, chúng tôi đã thử hẹn hò và quyết định nghiêm túc trong mối quan hệ này.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="">
                <img src="../../assets/images/memories_2.jpg" class="d-block w-100" alt="">
            </div>
            <div class="detail">
                <div class="title">
                    <p>Những buổi hẹn hò</p>
                </div>
                <div class="text">
                    <p>Chúng mình có những buổi hẹn hò thật bình yên .Cả hai có chung nhiều sở thích nên đã dành tình cảm cho nhau ngay từ những buổi hẹn hò đầu tiên.Cùng nhau gây dựng mối quan hệ với gia đình của nhau,chia sẻ mọi điều trong cuộc sống và sự tin tưởng cho mối quan hệ dài lâu.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="">
                <img src="../../assets/images/memories_3.jpg" class="d-block w-100" alt="">
            </div>
            <div class="detail">
                <div class="title">
                    <p>Mơ một hạnh phúc</p>
                </div>
                <div class="text">
                    <p>Tình yêu là một bản nhạc trầm bổng,có niềm vui cũng có những khó khăn mà cả hai cùng nhau trải nghiệm từng ngày.Cả hai đều yêu trẻ con và hướng về mái ấm gia đình.Chúng mình quyết định ra mắt phụ huynh và quyết tâm cùng nhau xây dựng tổ ấm.</p>
                </div>
            </div>
        </div>
    </div>
</section>