<section id="top-info">
    <div class="top-info-container">
        <div class="flower1 d-none d-xl-block">
            <img src="../../assets/images/flower.jpg" alt="">
        </div>
        <div class="flower2 d-none d-xl-block">
            <img src="../../assets/images/flower.jpg" alt="">
        </div>
        <div class="flower3 d-none d-xl-block">
            <img src="../../assets/images/flower.jpg" class="d-block w-100" alt="">
        </div>
        <app-slides></app-slides>
        <app-info></app-info>
    </div>
</section>