<section id="pre-weeding" class="section">
    <div class="titile">
        <p class="text-1">Kỉ niệm ngọt ngào</p>
        <p class="text-2">Khoảng khắc kỉ niệm chúng mình đã ghi lại!</p>
    </div>

    <div class="row img-list mt-5">
        <div class=" col-12 col-xl-6">
            <div class="row left">
                <div class="col-6">
                    <div class="img-item">
                        <img src="../../assets/images/A2.jpg" class="img-bg d-block w-100" alt="">
                    </div>
                    <div class="img-item mt-4">
                        <img src="../../assets/images/A1.jpg" class="img-bg d-block w-100" alt="">
                    </div>
                    <div class="img-item mt-4">
                        <img src="../../assets/images/A3.jpg" class="img-bg d-block w-100" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="img-item">
                        <img src="../../assets/images/A4.jpg" class="img-bg d-block w-100" alt="">
                    </div>
                    <div class="img-item mt-4">
                        <img src="../../assets/images/A5.jpg" class="img-bg d-block w-100" alt="">
                    </div>
                    <div class="img-item mt-4">
                        <img src="../../assets/images/A6.jpg" class="img-bg d-block w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <div class="row right mt-4 mt-xl-0">
                <div class="col-6">
                    <div class="img-item">
                        <img src="../../assets/images/A7.jpg" class="img-bg d-block w-100" alt="">
                    </div>
                    <div class="img-item mt-4">
                        <img src="../../assets/images/A8.jpg" class="img-bg d-block w-100" alt="">
                    </div>
                    <div class="img-item mt-4">
                        <img src="../../assets/images/A11.jpg" class="img-bg d-block w-100" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="img-item">
                        <img src="../../assets/images/A10.jpg" class="img-bg d-block w-100" alt="">
                    </div>
                    <div class="img-item mt-4">
                        <img src="../../assets/images/A9.jpg" class="img-bg d-block w-100" alt="">
                    </div>
                    <div class="img-item mt-4">
                        <img src="../../assets/images/A12.jpg" class="img-bg d-block w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>