.section {
    margin: 0 0 4rem 0;

    .text-name {
        font-size: 20px;
        font-weight: 500;
        .dancing {
            font-size: 4rem;
            font-family: 'Dancing Script', cursive;
        }
    }
}