<section id="people-info" class="section">
    <div class="row">
        <div class="col-12 col-xl-5">
            <div class="">
                <img src="../../assets/images/cd_left.jpg" class="d-block w-100" alt="">
            </div>
            <div class="text-name text-center">
                <p class="dancing">Thục Linh</p>
                <p>Cô dâu: Huỳnh Thị Thục Linh</p>
                <p>Bố: Huỳnh Văn Chương</p>
                <p>Mẹ: Phạm Thị Hương</p>
                <p>Địa chỉ: Hoài Ân, Bình Định</p>
            </div>
        </div>
        <div class="d-none d-xl-block col-xl-2">

        </div>
        <div class="col-12 col-xl-5">
            <div class="">
                <img src="../../assets/images/cr_right.jpg" class="d-block w-100" alt="">
            </div>
            <div class="text-name text-center">
                <p class="dancing">Kim Thiên</p>
                <p>Chú rể: Lâm Kim Thiên</p>
                <p>Bố: Lâm ZDỷ Long</p>
                <p>Mẹ: Nguyễn Hồng Minh</p>
                <p>Địa chỉ: Lâm Hà, Lâm Đồng</p>
            </div>
        </div>
    </div>
</section>