<section id="inviation" class="section">
    <div class="text-center">
        <div class="text-1">
            <p>TRÂN TRỌNG KÍNH MỜI</p>
        </div>
        <div class="text-2">
            <p>Bạn và Gia Đình</p>
        </div>
        <div class="text-3">
            <p>TỚI DỰ LỄ THÀNH HÔN CỦA HAI VỢ CHỒNG MÌNH</p>
        </div>
        <div class="text-dancing">
            <p>Kim Thiên & Thục Linh</p>
        </div>
        <div class="text-3">
            <p>THỜI GIAN TỔ CHỨC,VÀO LÚC 11 GIỜ 00</p>
        </div>
        <div class="date-time">
            <div class="row content">
                <div class="col-4 left date-time-item">
                    <p>THÁNG</p>
                    <p>07</p>
                </div>
                <div class="col-4 center date-time-item">
                    <p>CHỦ NHẬT</p>
                    <p class="big">09</p>
                </div>
                <div class="col-4 right date-time-item">
                    <p>NĂM</p>
                    <p>2023</p>
                </div>
            </div>
        </div>
        <div class="text-3 mt-5">
            <p>LỄ CƯỚI ĐƯỢC TỔ CHỨC TẠI NHÀ HÀNG TIỆC CƯỚI</p>
        </div>
        <div class="boder-bottom">
            <div class="boder-bottom-center"></div>
        </div>
        <div class="text-2 mt-5">
            <p>Sự hiện diện của bạn là niềm vinh hạnh của chúng mình!</p>
        </div>
    </div>
</section>