.section {
    margin: 2rem 0 6rem 0;

    .text-1 {
        font-size: var(--text-2);
        font-weight: 600;
    }

    .text-2 {
        font-size: var(--text-3);
        font-weight: 500;
        color: var(--color-pick);
        font-family: var(--font-family-dancing);
    }

    .text-3 {
        font-size: var(--text-1);
        font-weight: 500;
    }

    .text-dancing {
        font-size: var(--text-4);
        font-weight: 600;
        font-family: var(--font-family-dancing);
    }

    .date-time {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;

        .content {
            width: 30%;

            .date-time-item {
                text-align: center;
                font-weight: 500;
                font-size: var(--text-1);

                .big {
                    font-size: var(--text-3);
                    font-weight: 600;
                }
            }

            .center {
                border-left: #000 solid 2px;
                border-right: #000 solid 2px;
            }
        }

    }

    .add-text {
        font-size: var(--text-2);
        font-weight: 600;
        color: var(--color-pick);
    }

    .boder-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        .boder-bottom-center {
            width: 30%;
            border-bottom: #000 solid 2px;
        }
    }
}

@media (max-width: 1200px) {
    .section {
        .date-time {
            .content {
                width: 80%;
            }
        }

        .boder-bottom {
            .boder-bottom-center {
                width: 70%;
            }
        }
    }
}