<div class="">
    <img src="../../../assets/images/info.jpg" class="d-block w-100" alt="">
    <!-- <div class="">
        <label for="">
            {{date}}
        </label>
        <div class="">
            <label for="">
                {{month}}
            </label>
        </div>
        <div class="">
            <label for="">
                {{day}}
            </label>
        </div>
        <div class="">
            <label for="">
                {{hour}}
            </label>
        </div>
        <div class="">
            <label for="">
                {{minutes}}
            </label>
        </div>
        <div class="">
            <label for="">
                {{seconds}}
            </label>
        </div>
    </div> -->
</div>
